@use '~bootstrap/scss/bootstrap';

//@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700');

.navbar .navbar-nav .nav-item {
  color: rgba(0,0,255,1);
}

body {
  font-family: "BIZ UDGothic", sans-serif;
  height: 100%;
  margin: 0;
}

main {
  height: 100%;
}

.container {
  height: 100%;
}


.calendar {
  link-color: link-light;
}

li {
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: #FFF;
}

i {
  color: #FFF;
}
.fc .fc-daygrid-day-top {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fc-col-header-cell-cushion {
  color: #FFF;
}

.fc-daygrid-day-number {
  color: #FFF;
}

.fc-event-dot  {
  color: #FFF!important;
}

.fc-event-time {
  color: #FFF;
}

.fc-event-title {
  color: #FFF;
}

.container-fluid-top {
  background-image: url('bg.jpg');
  background-size: cover;
}
