@use '~bootstrap/scss/bootstrap';

//@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700');

.navbar .navbar-nav .nav-item {
  color: rgba(0,0,255,1);
}

body {
  font-family: "BIZ UDGothic", sans-serif;
  height: 100%;
  margin: 0;
}

//.main .container-fluid {
  //background-image: url('app/assets/images/bg.jpg') var(--bg-gradient)!important;
//}

main {
  height: 100%;
}

.container {
  height: 100%;
}


footer {
  height: 100%;
  margin: 0;
}