<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <div class="row">
    <h3 class="col-md-6 text-center">ユーザー一覧</h3>
  </div>
  
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <table class="table table-bottom-boder">
        <thead>
        <tr>
        <th>Data</th>
        <th>Artist</th>
        </tr>
      </thead>
      <% @user.each do |user| %>
        <tr>
          <td>
          <%= link_to user_path(usert.id) do %>
          <%= user.image %>
          <% end %>
          </td>
          <td>
          <%= user.name %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>